/* Add padding for header and footer */
body {
  padding-top: 150px;
  padding-bottom: 50px;
}

/* Triangle icon when the collapsible content is shown */
.list-group-item:after {
  content: '\25B2 ';
  float: left;
}

/* Inverted triangle icon when the collapsible content is hidden */
.list-group-item.collapsed:after {
  content: '\25BC ';
} 

/* Custom colours */
.mc-pri, /* green */
.mc-pri.list-group-item-action:hover,
.mc-pri.list-group-item-action.active, 
.mc-pri.list-group-item-action:focus {
  color: black;
  background-color: RGB(0,230,100);
}

.mc-sec, /* lighter green */
.mc-sec.list-group-item-action:hover,
.mc-sec.list-group-item-action.active, 
.mc-sec.list-group-item-action:focus {
  color: black;
  background-color: RGB(0,200,180);
}

.mc-bg, /* yellow */
.mc-bg.list-group-item-action:hover,
.mc-bg.list-group-item-action.active, 
.mc-bg.list-group-item-action:focus {
  color: black;
  background-color: RGB(220,220,100);
}

.mc-accent /* orange */
{
  color: white;
  background-color: RGB(255,100,0);
}

/* Navbar text color */
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover {
  background-color: RGB(255,100,0);
  color: white;
}

